ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  flex-shrink: 0;
  flex-basis: calc((100% - 48px) / 3);
}
